---
const { icon, title, description, background } = Astro.props;
const divClass = `${background} flex gap-x-5 flex-row w-[100vw] md:[25vw] lg:w-[23vw] text-xs lg:text-sm h-[70px] px-geo py-5 items-center navcard overflow-hidden`;
---

<div class={divClass}>
    <img src={icon} alt="icon" width="25" height="25" />
    <div class="flex flex-col text-div">
        <p class="text-white font-nunito uppercase font-bold">{title}</p>
        <p
            class="text-white uppercase description opacity-0 text-xs lg:text-sm"
        >
            {description}
        </p>
    </div>
</div>

<style>
    .text-div {
        transform: translateY(calc(50% - 12.5px));
        transition: transform 0.3s ease;
    }

    .navcard:hover .text-div .description {
        opacity: initial;
        transition: opacity 0.3s ease;
    }

    .navcard:hover .text-div {
        transform: translateY(-3px);
        transition: transform 0.3s ease;
    }

    .navcard:hover {
        padding: 50px 3.8rem;
        transition: padding 0.3s ease;
    }

    @media screen and (max-width: 1024px) {
        .text-div {
            transform: none;
            transition: transform 0.3s ease;
        }
        .description {
            opacity: 1;
        }
        .navcard:hover .text-div .description {
            opacity: 1;
            transition: none;
        }

        .navcard:hover .text-div {
            transform: none;
            transition: none;
        }

        .navcard:hover {
            transition: none;
            padding:  1.25rem 3.8rem;
        }
    }
</style>
